<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Lego Collection - Sets</title>
</head>
<body>
    <%- include('partials/navbar', { page: '' }) %>

    <div class="container mx-auto">
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
                <div>
                    <h1 class="text-5xl font-bold"><%= set.name %></h1>
                    <p class="py-6">Below, you will find detailed information about this set</p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-2 text-center p-4">
            <div class="flex justify-center items-center">
                <img src="<%= set.img_url %>" alt="<%= set.name %>" class="rounded-lg shadow-xl" width="300" height="300" />
            </div>

            <div class="flex justify-center items-center">
                <ul class="text-left">
                    <li><strong>Set Name:</strong> <%= set.name %></li>
                    <li><strong>Theme:</strong> <%= set.theme %></li>
                    <li><strong>Year:</strong> <%= set.year %></li>
                    <li><strong>Number of Parts:</strong> <%= set.num_parts %></li>
                </ul>
            </div>
        </div>

        <!-- AJAX Quote -->
        <div class="text-center mt-8">
            <blockquote id="quote" class="italic"></blockquote>
        </div>

        <!-- Back Button -->
        <div class="text-center mt-4">
            <a href="#" onclick="history.back(); return false;" class="btn btn-primary">Back</a>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            fetch('https://quotable.io/random')
                .then(response => response.json())
                .then(data => {
                    const quoteElement = document.getElementById('quote');
                    quoteElement.textContent = `"${data.content}" - ${data.author}`;
                })
                .catch(error => console.error('Error fetching quote:', error));
        });
    </script>
</body>
</html>
